.outer{
  display: flex;
  flex-direction: column;

}
body{
  background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Geometric-Simple-Background-Image.jpg");


}

